<!DOCTYPE html>
<html>
  <head>
    <title>CLPS1290</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> <!--320-->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<link rel="icon" href="imgs/brown.png"/>
    <!--bower:css-->
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css" />
    <!--endbower-->
    <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body id="body">
    {{{body}}}
  	<script type="text/javascript" src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
	<!--bower:js-->
	<script src="../vendor/jquery/dist/jquery.js"></script>
	<script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
	<!--endbower-->
	<script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
